template(name="solvedBrowse")
	.container
		.row
			.col-md-10
				ul#myTab.nav.nav-tabs.addmarginbotton.addmargintop2
					li.active
						a(href='/browse/#{nowCategory}/solved/1') 已解决
					li
						a(href='/browse/#{nowCategory}/unsolved/1') 待解决
				#myTabContent.tab-content
					#solved.tab-pane.fade.in.active
						each solvedQuestions
							{{> questionItem}}
					#unsolved.tab-pane.fade

			.col-md-3.col-md-offset-4
				ul.pagination.center
					li
						a(href='#{prevPage}') 上一页
					
					li
						a(href='#{nextPage}') 下一页

template(name="unsolvedBrowse")
	.container
		.row
			.col-md-10
				ul#myTab.nav.nav-tabs.addmarginbotton.addmargintop2
					li
						a(href='/browse/#{nowCategory}/solved/1') 已解决
					li.active
						a(href='/browse/#{nowCategory}/unsolved/1') 待解决
				#myTabContent.tab-content
					#solved.tab-pane.fade
					#unsolved.tab-pane.fade.in.active
						each unsolvedQuestions
							{{> questionItem}}

			.col-md-3.col-md-offset-4
				ul.pagination.center
					li
						a(href='#{prevPage}') 上一页
					
					li
						a(href='#{nextPage}') 下一页


template(name="questionItem")
	.ui.divided.items
		.link.item
			.ui.tiny.image.resetwidth
				img(src="/images/u10.png")
			.content
				a(href='/questiondetail/#{_id}').header #{title}
				.description
					span.h6 
						a(href='/profile/#{askerID}') #{askerNickname}
						|发布于 #{addTime}, 悬赏分数: #{reward}
				span.pull-right #{totalAnswer}人回答
	.ui.divider
	