template(name="home")
	.container
		.row
			.col-md-8.col-md-offset-1
				+newQuestions
				+hotQuestions
			.col-md-3
				+ranklist

template(name="newQuestions")
	h1.text-left 最新问题
	each nQuestions
		{{> newItem}}

template(name="hotQuestions")
	h1.text-left 最热问题
	each tQuestions
		{{> hotItem}}

template(name="newItem")
	.row.shift-down-1vh
		.col-md-2
			img(src="images/u10.png")
		.col-md-5
			span.h5 #{title}<br>
			span.h6 发布于：#{addTime}
			span.h6.shift-left-1vw 悬赏分数：#{reward}
		.col-md-4.col-md-offset-2.removemarginleft
			span #{totalAsk}人参与了回答

template(name="hotItem")
	.row.shift-down-1vh
		.col-md-2
			img(src="images/u10.png")
		.col-md-5
			span.h5 #{title}<br>
			span.h6 发布于：#{addTime}
			span.h6.shift-left-1vw 悬赏分数：#{reward}
		.col-md-4.col-md-offset-2.removemarginleft
			span #{totalAsk}人参与了回答

template(name="ranklist")
	.row
		.col-md-6.h4.text-center 
			span.label.label-primary 周百事通
		.col-md-6.h4.text-center
			span.label.label-default 月百事通
	.row
		each Users
			{{> userItem}}

template(name="userItem")
	.shift-down-1vh
		.row
			.col-md-4.h2.text-center ·
			.col-md-4
				img(src="images/u66.png")
			.col-md-4
				span.h5 
					a(href='/profile/#{_id}') #{profile.nickname}
				br
				span.h6 积分: #{profile.score}