template(name="home")
	.row
		span.h6 <br>
	.container
		.row#big
			.col-md-8
				.row
					.col-md-12
						.ui.segment(style="min-height: 8rem;")
							.ui.teal.ribbon.label 最新问题
							each nQuestions
								{{> newItem}}
				.ui.divider
				.row
					.col-md-12
						.ui.segment(style="min-height: 8rem;")
							.ui.red.ribbon.label 最热问题
							each tQuestions
								{{> hotItem}}
			.col-md-3#rank
				+ranklist

<<<<<<< HEAD
template(name="newQuestions")
	.panel.panel-default
		.text-left.panel-heading
			.panel-title 最新问题
		.panel-body
			each nQuestions
				+newItem

template(name="hotQuestions")
	.panel.panel-default
		.text-left.panel-heading
			.panel-title 最热问题
		.panel-body
			each tQuestions
				+hotItem
=======
>>>>>>> CuiH-master

template(name="newItem")
	.ui.divided.items
		.link.item
			.ui.tiny.image.resetwidth
				img(src="/images/u10.png")
			.content
				a(href='/questiondetail/#{_id}').header #{title}
				.description
					span.h6 
						a(href='/profile/#{askerID}') #{askerNickname}
						|发布于 #{addTime}, 悬赏分数: #{reward}
				span.pull-right #{totalAnswer}人回答

template(name="hotItem")
	.ui.divided.items
		.link.item
			.ui.tiny.image.resetwidth
				img(src="/images/u10.png")
			.content
				a(href='/questiondetail/#{_id}').header #{title}
				.description
					span.h6 
						a(href='/profile/#{askerID}') #{askerNickname}
						|发布于 #{addTime}, 悬赏分数: #{reward}
				span.pull-right #{totalAnswer}人回答

template(name="ranklist")
<<<<<<< HEAD
	.row.panel.panel-default
		.col-md-6.text-center.panel-heading.white-word
			.label.label-primary.panel-title 周百事通
		.col-md-6.text-center.panel-heading.white-word
			.label.label-default.panel-title 月百事通
		.row.panel-body
			ul.list-group
				each Users
					+userItem


template(name="userItem")
	li.list-group-item
		.row
			.col-md-4.h2.text-center 1
			.col-md-4
				img.shift-down-1vh(src="images/u66.png")
=======
	ul#myTab.nav.nav-tabs
		li.active
			a(href='#home', data-toggle='tab') 周百事通
		li
			a(href='#ios', data-toggle='tab') 月百事通
	#myTabContent.tab-content
		#home.tab-pane.fade.in.active
			.row
				each Users
					{{> userItem}}
		#ios.tab-pane.fade
			.row
				each Users
					{{> userItem}}

template(name="userItem")
	.row
		span.h6 <br>
	.shift-down-1vh
		.row
			.col-md-1.col-md-offset-1.h4.text-center +
			.col-md-3
				img.img-circle(src="/images/u66.png"
								 height="40"
								 width="40")
>>>>>>> CuiH-master
			.col-md-4
				span.h5 
					a(href='/profile/#{_id}') #{profile.nickname}
				br
				span.h6 积分: #{profile.score}
	.row
		span.h6 <br>
