template(name="home")
	.container
		.row
			.col-md-8.col-md-offset-1
				+newQuestions
				+hotQuestions
			.col-md-3
				+ranklist

template(name="newQuestions")
	.panel.panel-default
		.text-left.panel-heading
			.panel-title 最新问题
		.panel-body
			each nQuestions
				+newItem

template(name="hotQuestions")
	.panel.panel-default
		.text-left.panel-heading
			.panel-title 最热问题
		.panel-body
			each tQuestions
				+hotItem

template(name="newItem")
	.row.shift-down-1vh
		.col-md-2
			img(src="images/u10.png")
		.col-md-5
			span.h5
				a(href='/questiondetail/#{_id}') #{title}
				br
			span.h6 发布于：#{addTime}
			span.h6.shift-left-1vw 悬赏分数：#{reward}
		.col-md-4.col-md-offset-2.removemarginleft
			span #{totalAnswer}人参与了回答

template(name="hotItem")
	.row.shift-down-1vh
		.col-md-2
			img(src="images/u10.png")
		.col-md-5
			span.h5
				a(href='/questiondetail/#{_id}') #{title}
				br
			span.h6 发布于：#{addTime}
			span.h6.shift-left-1vw 悬赏分数：#{reward}
		.col-md-4.col-md-offset-2.removemarginleft
			span #{totalAnswer}人参与了回答

template(name="ranklist")
	.row.panel.panel-default
		.col-md-6.text-center.panel-heading.white-word
			.label.label-primary.panel-title 周百事通
		.col-md-6.text-center.panel-heading.white-word
			.label.label-default.panel-title 月百事通
		.row.panel-body
			ul.list-group
				each Users
					+userItem


template(name="userItem")
	li.list-group-item
		.row
			.col-md-4.h2.text-center 1
			.col-md-4
				img.shift-down-1vh(src="images/u66.png")
			.col-md-4
				span.h5 
					a(href='/profile/#{_id}') #{profile.nickname}
				br
				span.h6 积分: #{profile.score}