template(name="layout")
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button(
					type="button"
					class="navbar-toggle collapsed"
					data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1"
				)
					span.sr-only Toggle navigation
					//- span.icon-bar
					//- span.icon-bar
					//- span.icon-bar
				a.navbar-brand#logo-brand(href="/") 哪有

			.collapse.navbar-collapse#bs-example-navbar-collapse-1
				form.navbar-form.navbar-left(role="search")
					.form-group
						input.form-control#search-input(
							type="text"
							placeholder="Where is..."
						)
					button.btn.btn-default(type="submit") Search
				ul.nav.navbar-nav.navbar-left
					if isEatCloth
						li.active
							a(href="/browse/eatCloth/solved/1") 衣食
					else
						li
							a(href="/browse/eatCloth/solved/1") 衣食
					if isLiveWalk
						li.active
							a(href="/browse/liveWalk/solved/1") 住行
					else
						li
							a(href="/browse/liveWalk/solved/1") 住行
					if isStudy
						li.active
							a(href="/browse/study/solved/1") 学习
					else
						li
							a(href="/browse/study/solved/1") 学习
					if isOther
						li.active
							a(href="/browse/other/solved/1") 其他
					else
						li
							a(href="/browse/other/solved/1") 其他
					
					if currentUser
						li.dropdown
							a.dropdown-toggle(
								data-toggle="dropdown"
								role="button"
								aria-expanded="false"
								href="#"
							) #{currentUser.profile.nickname}
								span.caret
							ul.dropdown-menu.dropdown-menu-right(role="menu")
								li
									a(href="/profile/#{currentUser._id}") 我的主页
								li
									a(href="#") 个人设置
								li
									a(href="/addquestion") 提问
								li.divider
								li
									a(href="/logout") 注销
					else
						li
							a(href="/login") 请登录
	{{> yield}}
