template(name="profile")
	.container
		div.datas.col-md-9
			.row
				.ui.card.resetwidth3.addmargintop
					.content
						.header
							|TA在哪有
						.description
							.ui.statistics
								.statistic
									.value
										| #{User.profile.score}
									.label
										| 积分
								.statistic
									.value
										| #{User.profile.totalAsk}
									.label
										| 提问数
								.statistic
									.value
										| #{User.profile.totalAnswer}
									.label
										| 回答数
								.statistic
									.value
										| #{User.profile.totalLike}
									.label
										| 被赞数
								.statistic
									.value
										| #{User.profile.totalBest}
									.label
										| 被采纳数
								.statistic
									.value
										| #{bestRate}
									.label
										| 回答被采纳率

					.ui.two.bottom.attached.buttons
						.ui.button.resetwidth4
						

			.ui.divider.addmargintop
			.ui.segment(style="min-height: 8rem;")
				.ui.blue.ribbon.label TA的问题
				table.table
					thead
						tr
							th 标题
							th 悬赏分
							th 是否解决
							th 时间
					tbody
						each User.profile.questions
							{{> myQuestions}}
			.ui.divider

			.ui.segment(style="min-height: 8rem;")
				.ui.blue.ribbon.label TA的回答
				table.table
					thead
						tr
							th 标题
							th 悬赏分
							th 是否被采纳
							th 时间
					tbody
						each User.profile.answers
							{{> myAnswers}}

		.ui.cards.resetwidth5.addmargintop2
			.card
				.image
					img(src="/images/u66.png")
				.content
					.header #{User.profile.nickname}
					.meta
						a.group 
							if isMale
								|男
							else
								|女
					.description
						p 来自: #{User.profile.college}
						p 生日: #{User.profile.birthdate}
				if isCurrent
					.extra.content
						button.btn.btn-primary.click(data-toggle='modal', data-target='.bs-example-modal-lg', type='button',data-placement='left') 修改个人信息
						button.right.floated.created.btn.btn-primary.click(data-toggle='modal', data-target='.ps-example-modal-lg', type='button',data-placement='left') 修改密码

			.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
				.setwidth.modal-dialog.modal-lg
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal')
								span(aria-hidden="true") &#215;
							h4.modal-title 修改个人信息
						.modal-body
							form#profiles(role='form')
								.form-group
									| 昵称:
									input#nickname.form-control(type='text', value='#{User.profile.nickname}', required)
									br
									| 性别：
									br
									if isMale
										label.radio-inline
											input(type='radio', value='female', name='gender')
											| 女
										label.radio-inline
											input(type='radio', value='male', name='gender', checked)
											| 男
									else 
										label.radio-inline
											input(type='radio', value='female', name='gender', checked)
											| 女
										label.radio-inline
											input(type='radio', value='male', name='gender')
											| 男
									br
									br
									| 生日:
									input#datetimepicker.form-control(type='text',value='#{User.profile.birthdate}', required)
									br
									| 学校:
									select#college.form-control
										option(value='SYSU') 中山大学
										option(value='SCUT') 华南理工大学
										option(value='GUFS') 广东外语外贸大学
						.modal-footer
							button.btn.btn-default(type='button', data-dismiss='modal') 关闭
							button#saveProfile.btn.btn-primary(type='button', data-dismiss='modal') 保存

			.modal.fade.ps-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
				.setwidth2.modal-dialog.modal-lg
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal')
								span(aria-hidden="true") &#215;
							h4.modal-title 修改密码
						.modal-body
							form#password(role='form')
								| 原密码
								input#oldPassword.form-control(type='password', placeholder='原密码')
								br
								| 新密码
								input#newPassword.form-control(type='password', placeholder='新密码')
								br
								| 确认新密码
								input#newAgain.form-control(type='password', placeholder='确认新密码')
						.modal-footer
							button.btn.btn-default(type='button', data-dismiss='modal') 取消
							button#changePassword.btn.btn-primary(type='button', data-dismiss='modal', disabled='disabled') 确认

template(name="myQuestions")
	tr
		th(scope="row")
			a(href='/questiondetail/#{questionId}') #{title}
		td #{reward}
		if isHandled
			td 是
		else
			td 否
		td #{addTime}

template(name="myAnswers")
	tr
		th(scope="row")
			a(href='/questiondetail/#{questionId}') #{title}
		td #{reward}
		if isBest
			td 是
		else
			td 否
		td #{addTime}
	