template(name="questionDetail")
	.content
		.position-helper
			.question
				.ui.two.column.grid
					.column.resetwidth4
						.ui.piled.blue.segment
							h2.ui.header
								i.icon.inverted.circular.blue.comment
								| #{Question.title}
							p.resetfontsize #{Question.content}
							span.time 发布者：#{Question.askerNickname}
							span.time 悬赏分：#{Question.reward}
							span.time 发布时间：#{Question.addTime}
		
			.answer
				if bestAnswer
					.ui.two.column.grid
						.row
							.column.resetwidth4
								.ui.raised.segment
									.ui.red.ribbon.label 最佳答案
									p.resetfontsize #{bestAnswer.content}
									span.time 回答者：
										a(href='/profile/#{bestAnswer.answererId}') #{bestAnswer.answererNickname}
									span.time 回答时间：#{bestAnswer.addTime}
									span.time 热度：#{bestAnswer.heat}
										.agree
											button.btn.btn-default 赞同
											button.btn.btn-default 反对

				.ansert_other
					.ui.two.column.grid
						.row
							.column.resetwidth4
								.ui.raised.segment
									if otherAnswers
										.ui.teal.ribbon.label 其它答案
										each otherAnswers
											{{> answerItem}}
									.ui.ribbon.label 我来回答
									form(role="form", method="post").ui.reply.form
										.field
											textarea(name='answerContent',required)
											input.addmargintop3.pull-right.btn.btn-warning(type="submit", value="Submit")

template(name="answerItem")
	p.resetfontsize #{content}
		
	span.time 回答者：
		a(href='/profile/#{answererId}') #{answererNickname}
	span.time 回答时间：#{addTime}
	span.time 热度：#{heat}
		.agree
			button.btn.btn-default 赞同
			button.btn.btn-default 反对
			if isAuthorAndHasNoBest
				button#selectBest(answerer='#{answererId}').btn.btn-default 采纳
	.ui.divider