template(name="questionDetail")
	.content
		.position-helper
			.question
				.ui.two.column.grid
					.column.resetwidth4
						.ui.piled.blue.segment
							h2.ui.header
								i.icon.inverted.circular.blue.comment
								| #{Question.title}
							p.resetfontsize #{Question.content}
							span.time 发布者：
								a(href='/profile/#{Question.askerID}') #{Question.askerNickname}
							span.time 所属类别：
								a(href='/browse/#{Question.category}/unsolved/1') #{category}
							span.time 悬赏分：#{Question.reward}
							span.time 发布时间：#{Question.addTime}

			.answer
				if bestAnswer
					.ui.two.column.grid
						.row
							.column.resetwidth4
								.ui.raised.segment
									.ui.red.ribbon.label 最佳答案
									each bestAnswer
										{{> bestAnswerItem}}

				.ansert_other
					.ui.two.column.grid
						.row
							.column.resetwidth4
								.ui.raised.segment
									if otherAnswers
										.ui.teal.ribbon.label 其它答案
										each otherAnswers
											{{> answerItem}}
									//- if isNotAuthor
									.ui.ribbon.label 我来回答
									form(role="form", method="post").ui.reply.form.addmargintop3
										.field
											textarea(name='answerContent',required)
											input.addmargintop3.pull-right.btn.btn-warning(type="submit", value="提交")

template(name="answerItem")
	p.addmargintop3.resetfontsize #{content}
		
	span.time 回答者：
		a(href='/profile/#{answererId}') #{answererNickname}
	span.time 回答时间：#{addTime}
	.ui.buttons
		button#approve.ui.labeled.icon.button
			i.left.chevron.icon
			| 赞同
		.ui.button
			| #{heat}
		button#against.ui.right.labeled.icon.button
			| 反对
			i.right.chevron.icon
	if isAuthorAndHasNoBest
		button#selectBest(answerer='#{answererId}').positive.ui.button 采纳为最佳答案
	.ui.divider

template(name="bestAnswerItem")
	p.addmargintop3.resetfontsize #{content}
	span.time 回答者：
		a(href='/profile/#{answererId}') #{answererNickname}
	span.time 回答时间：#{addTime}
	.ui.buttons
		button#best-approve.ui.labeled.icon.button
			i.left.chevron.icon
			| 赞同
		.ui.button
			| #{heat}
		button#best-against.ui.right.labeled.icon.button
			| 反对
			i.right.chevron.icon
		//- .agree
		//- 	button#best-approve.btn.btn-default 赞同
		//- 	button#best-against.btn.btn-default 反对
		