template(name="searchResults")
	.container
		.row
			.col-md-10
				ul#myTab.nav.nav-tabs
					li.active
						a(href='#solve', data-toggle='tab') 已解决
					li
						a(href='#answer', data-toggle='tab') 待解决
				#myTabContent.tab-content
					#solved.tab-pane.fade.in.active
						+head
						+questionExample1
						+questionExample2
						+questionExample3
						each Questions
							{{> questionItem}}
					#unsolved.tab-pane.fade
						+head
						each Questions
							{{> resultItem}}

			.col-md-3.col-md-offset-4
				ul.pagination.center
					li
						a(href='#{prevPage}') «
					li.active
						a(href='#') 1
					li
						a(href='#') 2
					li
						a(href='#') 3
					li
						a(href='#') 4
					li
						a(href='#') 5
					li
						a(href='#{nextPage}') »

template(name="head")
	.row.shift-down-1vh
		.col-md-7
			h5.text-left 标题/内容
		.col-md-3
			h5.text-center 回答数
		.col-md-2
			h5.text-center 发布时间

template(name="resultItem")
	.row.shift-down-1vh
		dl.col-md-7
			dt
				a(href="/") #{title}
			dd
				h5.text-left #{text}
		.col-md-3
			h5.text-center #{totalAsk}
		.col-md-2
			h5.text-center #{addTime}


template(name="questionExample1")
	.row.shift-down-1vh
		dl.col-md-7
			dt
				a(href="#") Where can DIY the cake?
			dd
				h5.text-left detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail
		.col-md-3
			h5.text-center 6
		.col-md-2
			h5.text-center 2015.6.1

template(name="questionExample2")
	.row.shift-down-1vh
		dl.col-md-7
			dt
				a(href="#") How muck to DIY the cake?
			dd
				h5.text-left detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail
		.col-md-3
			h5.text-center 3
		.col-md-2
			h5.text-center 2015.5.1

template(name="questionExample3")
	.row.shift-down-1vh
		dl.col-md-7
			dt
				a(href="#") xxxxx DIY
			dd
				h5.text-left detail detail detail detail detail detail detail detail detail detail detail detail
		.col-md-3
			h5.text-center 12
		.col-md-2
			h5.text-center 2014.3.23
