head
	title WhereIs
	meta(charset="utf-8")
	link(rel="sytlesheet", type="text/css", href="stylesheets/trimming.css")
body
	+navigator

template(name="navigator")
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button(
					type="button"
					class="navbar-toggle collapsed"
					data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1"
				)
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand#logo-brand(href="#") 哪有

			.collapse.navbar-collapse#bs-example-navbar-collapse-1
				//- ul.nav.navbar-nav
				//- 	li.active
				//- 		a(href="#")
				form.navbar-form.navbar-left(role="search")
					.form-group
						input.form-control#search-input(
							type="text"
							placeholder="Where is..."
						)
					button.btn.btn-default(type="submit") Search
				ul.nav.navbar-nav.navbar-left
					li.active
						a(href="#") 衣食
					li
						a(href="#") 住行
					li
						a(href="#") 学习
					li
						a(href="#") 其他
				


